@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
#info {
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    top: 60%;
    left: 12%;
    height: 150px;
    width: 300px;
    background: rgb(172, 248, 255);
    color: black;
    border: 8px solid white;
    box-sizing: border-box;
    padding: 7%;
}
