#frame {
    position: absolute;
    text-align: center;
    top: 5%;
    left: 44%;
    height: 250px;
    width: 200px;
    background: white;
    border: 8px solid white;
    box-sizing: border-box;
    padding: 5%;
}

#front {
    position: absolute;
    top: 9%;
    left: 9%;
    height: 150px;
    width: 150;
    object-fit: cover;
}